<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Weather API
	link(href="assets/css/styles.css", rel="stylesheet")
	

body
	#wrapper
		header
			h1 Welcome to the Weather API
			
			#nav
				ul
					li
						a(href="#") Home
					li
						a(href="#") About
					li
						a(href="#") Services
					li
						a(href="#") Gallery

		section#weathersetup
			#leftside
				h1 Weather in your Area
				h2 Input your zipcode
				input#zip(type="text")
				button#btn(onclick="getUserInput()") Submit

				#weatherwidget

					#temp

					#icon
						img(src="http://dummyimage.com/200x200/4d494d/686a82.gif&text=placeholder+image", alt="")
					

			#rightside

	
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
	script(src="assets/js/weather.js")






